.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #262626;
  color: #ffffff;
  list-style: none;
}
.App-logo {
  margin: 5px;
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.page {
  background: #48484b;
}
.container {
  max-width: 728px;
  width: calc(100% - 50px);
  margin: 0 auto;
}
.page_content {
  background: #1d1d21;
  margin-bottom: 56px;
  padding: 28px;
  box-shadow: 0 6px 10px 6px rgba(64, 64, 64, 0.16);
}
.page_content h2 {
  text-color:#fff;
}
.imgsvg {
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 0 6px 10px 6px rgba(64, 64, 64, 0.16);
  border-radius: 16px;
  border: 6px solid #fefefe;
}

.page_oriview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 100px));
  text-align: left;
  color: #fff;
  background: #4d6d6b;
}
.left_side {
  padding: 5px;
  margin-left: auto;
  background-color: #969ea2;
}
.note {
  text-align: left;
  border: 2px dashed #e6e6e6;
  border-radius: 16px;
  background-color: #95a787;
}
