.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #262626;
  color: #ffffff;
  list-style: none;
}
.App-logo {
  margin: 5px;
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.page {
  background: #fff;
}
.container {
  max-width: 728px;
  width: calc(100% - 50px);
  margin: 0 auto;
}
.page_content {
  background: #2ee5e5;
  margin-bottom: 56px;
  padding: 28px;
  /*border-radius: 16px;*/
  box-shadow: 0 6px 10px 6px rgba(64, 64, 64, 0.16);
}
.page_content h2 {
  /*grid-column-start: 1;*/
  /*grid-column-end: 4;*/
}
.imgsvg {
  /*grid-column-start: 1;*/
  /*grid-column-end: 4;*/
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 0 6px 10px 6px rgba(64, 64, 64, 0.16);
  border-radius: 16px;
  border: 6px solid #fefefe;
}
.page_oriview {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
  color: #fff;
  background: #262626;
}
.left_side {
  grid-column-start: 1;
  grid-column-end: 2;
}
.note {
  /*grid-column-start: 3;*/
  /*grid-column-end: auto;*/
  border: 6px dashed #e6e6e6;
  border-radius: 16px;
  align-self: flex-start;
}
